@page "/login"
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h3 class="motored">Motored</h3>

    <div class="pagina">
    <div class="Contenedor2">

        <div class="informacion"
        <a>Email</a>
        <input type="text" />
        <br />
        <br />
        <br />
        <a>Contraseña</a>
        <input type="text" />
        <br />
        <br />
        <br />
        <br />


        <button>Loguearse</button>

        </div>
    </div>
    </div>
    
</body>
</html>

@code {

}
