

@page "/registro"

<html>
    <head>
        <title>Registrar</title>
    <link href="Motored.client.Estilos.registro.css" rel="stylesheet">
    </head>
    
  <body>

<h3 class="titulo">Registro</h3>
</body>

</html>
@code {

}
