

@page "/registro"

<html>
    <head>
        <title>Registrar</title>
    <link href="Motored.client.Estilos.registro.css" rel="stylesheet">
    </head>
    
  <body>



<div class="Contenedor">
<div class="Fila1">
    <a>Nombre</a>
    <input type="text" />
    <a>Apellido</a>
    <input type="text" />
    <a>DNI</a>
    <input type="text" />
    <a>E-mail</a>
    <input type="text" />
    <a>Contraseña</a>
    <input type="text" />
    <a>Repetir contraseña</a>
    <input type="text" />
</div>

<div class="Fila2">
    <a>Pais</a>
    <input type="text" />
    <a>Provincia</a>
    <input type="text" />
    <a>Moto</a>
    <input type="text" />
    <a>Patente</a>
    <input type="text" />
    <a>Agregar otra moto</a>
    <button>Registrarse</button>
</div>
</div>


</body>

</html>
@code {

}
